<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="login-container">
        <h2 class="login-title">Login</h2>
        <form class="login-form" action="/login" method="POST">
            <label class="login-label" >Username:</label>
            <input class="login-input" type="text" required>

            <label class="login-label"> Password: </label>
            <input class="login-input" type="password" required>

            <button class="login-button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
