<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include("./particles/navbar.ejs") %>
    <div class="aligned-form">
        <div class="login-container">
            <h2 class="login-title">Login</h2>
        <form class="login-form" action="http://localhost:3000/api/v1/auth/login" method="POST">
            <label class="login-label" >Email:</label>
            <input class="login-input" type="text" name="email" required>
            
            <label class="login-label"> Password: </label>
            <input class="login-input" type="password" name="password" required>
            
            <button class="login-button" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>
