<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini URL</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="columnd">

        <nav class="ml">
            <button class="log">Login</button>
            <button class="log">Register</button>
        </nav>