<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini URL</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="columnd">

        <nav>
            <div class="betweener">
                <a href="/" class="logo">MiniURL</a>
                <div class="ml">
                    <% if (locals.inLoggedUser) { %>
                        <a href="/dashboard" class="log">Dashboard</a>
                    <% }else{ %>
                    <a href="/login" class="log">Login</a>
                    <a href="/register" class="log">Register</a>
                    <% } %>
                </div>
            </div>
        </nav>