<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini URL</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar__content">
                <a href="/" class="navbar__logo">MiniURL</a>
                <div class="navbar__links">
                    <% if (locals.inLoggedUser) { %>
                        <a href="/dashboard" class="navbar__link">Dashboard</a>
                    <% }else{ %>
                    <a href="/login" class="navbar__link">Login</a>
                    <a href="/register" class="navbar__link">Register</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
